[Desktop Entry]
Type=Application
Name=Hippocampe
Comment=Read what Hippocampe keeps
Exec=hippocampe-desktop
Icon=hippocampe
Categories=Office;
StartupWMClass=hippocampe
